/* contract Us start  */

.containers {
  width: 100%;
  background: #cdc2c2;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.containers .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containers .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  /* right: -15px; */
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #0a0f02d7;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: rgba(11, 9, 9, 0.332);
}

.containers .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #5d5776;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0px;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #8484bd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #6d6db8;
}

@media (max-width: 950px) {
  .containers {
    width: 100%;
    padding: 30px 40px 40px 35px;
  }

  .containers .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .containers {
    margin: 40px 0;
    height: 100%;
  }

  .containers .content {
    flex-direction: column-reverse;
  }

  .containers .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .containers .content .left-side::before {
    display: none;
  }

  .containers .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* contract Us End  */
