@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.ant-btn {
  color: #fff;
  background-color: #00674a;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #00674a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.text-gradient {
  background: linear-gradient(45deg, #3a3a3a, #00674a, #f8f8f8);
  background-clip: text;
  color: transparent;
}

.even-row {
  background-color: #fff;
}

.odd-row {
  background-color: #f3f5f8;
}

.card-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-box-border {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
